.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 8, 3, 0.8);
    z-index: 1000;
}

.modal {


    position: absolute;
    top: 230px;
    left: 230px;
    right: 230px;
    width: 60%;

    background: #1e1e1e;
    border: 1px solid #DE4A54;
    border-radius: 20px;
    padding: 20px;

   /* place-self: center;*/


}

.btnFechar {
position: absolute;
    display: block;
    text-align: end;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

    right: 25px;
    top: 15px;
}

.btnFechar:hover {
    color: #DE4A54;
    font-weight: bold;
}

.modal h1 {
    text-align: center;
    font-family: Bahnschrift, "Times New Roman", Times, serif;
    font-size: 2rem;
    padding: 25px;

    position: relative;
}

.tituloModal:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 65px;
    width: 375px;
    height: 2px;
    background: #DE4A54;

}


.form {
    padding: 20px;
    width: 100%;

}

.formGrup label {
    display: block;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 1.2rem;
}

.formGrup input {
    display: block;
    margin-bottom: 20px;
    width: 95%;
    height: 35px;
    border-radius: 10px;
    background: #c1c1c1;
    border: none;
    outline-color: #DE4A54;
    padding: 5px;
    color: black;
    font-weight: bold;


}

.btForm {

    width: 40%;
    border-radius: 50px;
    border: none;
    font-size: 18px;

}

@media screen and (max-width: 950px) {
.modal{
    top: 230px;
    left: 150px;
    right: 150px;
    width: 60%;
}
    .formGrup input {
        width: 90%;
        height: 28px;

    }

    .modal h1 {

        font-size: 1.323rem;
        padding: 15px;

    }

    .tituloModal:before {
        top: 39px;
        width: 250px;
    }

    .formGrup label {

        font-size: 0.875rem;
    }

    .btForm {
        width: 90%;
        font-size: 0.875rem;
    }

}

@media screen and (max-width: 630px) {

    .modal {

            top: 230px;
            left: 20px;
            right: 50px;
            width: 60%;

        padding: 20px 50px 20px 50px;

    }

    .tituloModal:before {
        display: none;

    }

    .modal h1 {

        font-size: 0.989rem;
        padding: 15px;


    }

    .form {
        padding: 0;

    }
    .formGrup input {
        width: 100%;
    }
}

